<h1>Job Details</h1>
<% job = Job.find(params[:id]) %>
  <h3><%= job.title %><h3>
  <p><%= job.location %>
  <p><%= job.description %></p>
  <h5><%= link_to "Edit Posting", edit_job_path(job)%></h5>
  <h5><%= link_to 'Delete Posting', job, method: :delete %></h5>
